name: Build plugin

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

env:
  PLUGIN_NAME: logseq-rip-bullet-points

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Package plugin
        run: |
          mkdir -p ${{ env.PLUGIN_NAME }}
          cp README.md package.json icon.svg LICENSE ${{ env.PLUGIN_NAME }}
          cp -r dist ${{ env.PLUGIN_NAME }}
          zip -r ${{ env.PLUGIN_NAME }}.zip ${{ env.PLUGIN_NAME }}
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "${{ env.PLUGIN_NAME }}.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
